<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-xs-center">© 2016 Francisco Knebel.
					<br>
					Built with
					<a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
					&amp; Fonts by
					<a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
					&amp; Businesses by
					<a href="https://www.yelp.com/" target="_blank">Yelp</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-xs-center">
				<ul class="social">
					<li>
						<a href="https://www.twitter.com/chicoknebel" target="_blank" class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</a>
					</li>
					<li>
						<a href="https://www.github.com/kyozeus/fcc-nightlife" target="_blank" class="fa-stack fa-lg">
							<i class="fa fa-github fa-stack-2x"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/francisco-knebel-295493111" target="_blank" class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
