<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Nightlife - Categories</title>

		<% include snippets/sharedCSS %>
		<link rel="stylesheet" href="/css/background.css">
	</head>
	<body class="alternate">
		<% include snippets/navbar %>

		<video autoplay loop id="video-background" muted>
			<source src="/video/night.m4v" type="video/mp4">
		</video>
		<div class="container" id="top">
			<div class="row">
				<div class="push-sm-1 col-sm-10 push-md-2 col-md-8 push-lg-3 col-lg-6">
					<h4 class="text-xs-center text-white">Categories</h4>
					<div class="card">
						<div class="card-group card-block">
							<div class="card">
								<div class="card-block">
									<ul>
										<li>Adult Entertainment</li>
										<li>Airport Lounges</li>
										<li>Beer Gardens</li>
										<li>Club Crawl</li>
										<li>Coffeeshops</li>
										<li>Comedy Clubs</li>
										<li>Country Dance</li>
										<li>Dance Clubs</li>
										<li>Dance Restaurants</li>
										<li>Fasil Music</li>
										<li>Jazz & Blues</li>
										<li>Karaoke</li>
										<li>Music Venues</li>
										<li>Piano Bars</li>
										<li>Pool Halls</li>
									</ul>
								</div>
							</div>
							<div class="card">
								<div class="card-block">
									<ul>
										<li>Beach Bars</li>
										<li>Beer Bar</li>
										<li>Champagne Bars</li>
										<li>Cocktail Bars</li>
										<li>Dive Bars</li>
										<li>Drive-Thru Bars</li>
										<li>Gay Bars</li>
										<li>Hotel bar</li>
										<li>Irish Pub</li>
										<li>Lounges</li>
										<li>Pubs</li>
										<li>Pulquerias</li>
										<li>Sports Bars</li>
										<li>Tiki Bars</li>
										<li>Whiskey Bars</li>
									</ul>
								</div>
							</div>

							<a href="/wall" class="btn btn-secondary btn-lg btn-block">Go to the Wall!</a>
						</div>
						<div class="card-footer">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12 text-xs-center">
										<h6>Powered by
											<a href="https://www.yelp.com" target="_blank">Yelp</a>
											<i class="fa fa-3x fa-yelp"></i>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include snippets/footer %>
		<% include snippets/sharedJS %>

	</body>
</html>
