<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Nightlife</title>

		<% include snippets/sharedCSS %>
		<% include snippets/sharedJS %>

	</head>
	<body>
		<% include snippets/navbar %>

		<div class="container" id="top">
			<div class="row">
				<div class="push-sm-1 col-sm-10 push-md-2 col-md-8 push-lg-3 col-lg-6">
					<h4 class="text-xs-center">Nightlife</h4>
					<div class="card">
						<div class="card-block text-xs-center">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							</p>
							<p>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>

							<a href="/wall" class="btn btn-secondary btn-lg btn-block">Go to the Wall!</a>
						</div>
						<div class="card-footer">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 text-xs-center text-md-left">
										<h6>Powered by
											<a href="https://www.yelp.com" target="_blank">Yelp</a>
											<i class="fa fa-3x fa-yelp"></i>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include snippets/footer %>
	</body>
</html>
