<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>Nightlife - Login</title>

		<% include snippets/sharedCSS %>
		<% include snippets/sharedJS %>
	</head>
	<body>
		<div class="container" id="top">
			<div class="row">
				<div class="push-sm-1 col-sm-10 push-md-2 col-md-8 push-lg-3 col-lg-6">
					<h4 class="text-xs-center">Login</h4>
					<div class="card text-xs-center">
						<div class="card-block">
							<form action="/login" method="post">
								<div class="form-group">
									<label for="InputEmail1">Email address</label>
									<input type="email" class="form-control" required name="email" id="InputEmail1" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="InputPassword">Password</label>
									<input type="password" class="form-control" required name="password" id="InputPassword" placeholder="Password">
								</div>

								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>

					<% if (message.length > 0) { %>
						<!-- show any messages that come back with authentication -->
						<div class="card card-inverse card-danger text-xs-center">
							<div class="card-block"><%= message %></div>
						</div>
					<% } %>

					<div class="card text-xs-center">
						<div class="card-block">
							<a class="btn btn-info" href="/signup">Signup</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
