<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Nightlife</title>

		<% include snippets/sharedCSS %>
		<% include snippets/sharedJS %>
	</head>
	<body>
		<% include snippets/navbar %>

		<div class="container"></div>

		<% include snippets/footer %>
	</body>
</html>
