<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>Nightlife</title>

		<% include snippets/sharedCSS %>
		<% include snippets/sharedJS %>
	</head>
	<body>
		<% include snippets/navbar %>

		<div class="container"></div>

	</body>
</html>
